@model IEnumerable<Colegio_v3.Models.Asignatura>

@{
    ViewBag.Title = "Asignaturas";
}

<h2 class="text-center mb-4">Gestión de Asignaturas</h2>

<p>
    @Html.ActionLink("Nueva Asignatura", "Create", null, new { @class = "btn btn-success mb-3" })
</p>

<div class="card shadow p-4 bg-white rounded">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="table-primary text-center">
                    <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td class="text-center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.AsignaturaId }, new { @class = "btn btn-sm btn-primary" })<br />
                            @Html.ActionLink("Detalles", "Details", new { id = item.AsignaturaId }, new { @class = "btn btn-sm btn-info mt-1" })<br />
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.AsignaturaId }, new
                            {
                                @class = "btn btn-sm btn-danger mt-1",
                                onclick = "return confirm('¿Estás seguro de que deseas eliminar este registro?, si eliminas Este Personal Eliminas los datos relacionados con el mismo (Curso, Materias Docente y Estudiantes)');"
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>